[Unit]
Description=Start Dancer program on start.
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/puppet.x

[Install]
WantedBy=multi-user.target